In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn import model_selection
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [28]:
#Importing Dataset

In [29]:
dataset = pd.read_csv("Diabetes.csv")

In [30]:
print(dataset)

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [31]:
dataset.shape

(768, 9)

In [32]:
dataset.mean()

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [33]:
# Separating inputs and output

In [34]:
X = dataset.drop(columns=['Outcome', 'DiabetesPedigreeFunction'], axis=1)

In [35]:
Y = dataset['Outcome']

In [36]:
X

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  Age
0              6      148             72             35        0  33.6   50
1              1       85             66             29        0  26.6   31
2              8      183             64              0        0  23.3   32
3              1       89             66             23       94  28.1   21
4              0      137             40             35      168  43.1   33
..           ...      ...            ...            ...      ...   ...  ...
763           10      101             76             48      180  32.9   63
764            2      122             70             27        0  36.8   27
765            5      121             72             23      112  26.2   30
766            1      126             60              0        0  30.1   47
767            1       93             70             31        0  30.4   23

[768 rows x 7 columns]

In [37]:
Y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [38]:
minmax_scaler = preprocessing.MinMaxScaler()

In [39]:
x = minmax_scaler.fit_transform(X)

In [40]:
x

array([[0.35294118, 0.74371859, 0.59016393, ..., 0.        , 0.50074516,
        0.48333333],
       [0.05882353, 0.42713568, 0.54098361, ..., 0.        , 0.39642325,
        0.16666667],
       [0.47058824, 0.91959799, 0.52459016, ..., 0.        , 0.34724292,
        0.18333333],
       ...,
       [0.29411765, 0.6080402 , 0.59016393, ..., 0.13238771, 0.390462  ,
        0.15      ],
       [0.05882353, 0.63316583, 0.49180328, ..., 0.        , 0.4485842 ,
        0.43333333],
       [0.05882353, 0.46733668, 0.57377049, ..., 0.        , 0.45305514,
        0.03333333]])

In [41]:
y = Y

In [42]:
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(x, y, train_size=0.8)

In [43]:
X_train.shape, X_test.shape

((614, 7), (154, 7))

In [48]:
model = LogisticRegression(max_iter=900)
model.fit(X_train, Y_train)
pred = model.predict(X_test)
cr1 = accuracy_score(Y_test, pred)
print(cr1*100)

74.02597402597402

In [47]:
import pickle
pickle_out = open("predictor.pkl", "wb")
pickle.dump(model, pickle_out)
pickle_out.close()

In [49]:

prediction=model.predict([[6,	148,	72,	35,	0,	33.6,	50]])
print(prediction)

[1]

In [51]:
prediction=model.predict([[1,	93,	70,	31,	0,	30.4,	23]])
print(prediction)

[1]